.contactSection {
  margin-inline: auto;
  max-width: 46.25rem;
  padding: 1rem;
  letter-spacing: 0;

  .contactContainer {
    .topic {
      display: flex;
      gap: 1rem;
      align-items: baseline;
      margin-bottom: 2rem;

      h3 {
        font-size: var(--fz-heading);
        color: var(--lightest-slate);

        &::after {
          content: "";
          display: inline-block;
          position: relative;
          top: -5px;
          width: 300px;
          margin-left: 1rem;
          height: 1px;
          background-color: var(--lightest-navy);
        }
      }
    }
  }

  .contactInfo {
    img {
      width: 22px;
    }

    .contacts {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-block: 1rem;

      a:hover {
        color: var(--green);
      }
    }
  }
}
