.introSection {
  max-width: 56.25rem;
  margin-inline: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-inline: 1rem;

  span {
    font-size: var(--fz-md);
    margin-bottom: 1rem;
  }

  h1,
  h2 {
    font-size: var(--fz-title);
    font-weight: 600;
    color: var(--lightest-slate);
  }

  h2 {
    color: var(--slate);
    margin-bottom: 1rem;
  }

  p {
    font-size: var(--fz-md);
    line-height: 1.5;
  }
}

@media (max-width: 760px) {
  .introSection {
    height: 80vh;

    span {
      font-size: var(--fz-sm);
    }

    h1,
    h2 {
      font-size: var(--fz-title-mobile);
    }

    p {
      font-size: var(--fz-sm);
    }
  }
}
