* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --green: #64ffda;
  --font-sans: "Inter", -apple-system, system-ui, sans-serif;
  --font-mono: "Fira Code", monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 28px;
  --fz-title: 72px;
  --border-radius: 4px;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-sans);
  color: var(--slate);
  line-height: 1.3;
}

ul,
li,
button,
span {
  -webkit-font-smoothing: antialiased;
  list-style: none;
  font-family: var(--font-mono);
  color: var(--green);
}

a {
  text-decoration: none;
  font-family: var(--font-sans);
  color: var(--slate);
  -webkit-font-smoothing: antialiased;
}
